@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.modal-matrix-partner {
    width: 720px;
    background: $bg-base;
    border-radius: 16px;


    &__container {
        display: flex;
        flex-direction: column;
        height: 575px;
        overflow-y: auto;
        border-bottom: 1px solid #EFF2F5;
    }

    &__overflow {

    }

    &__cell {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #EFF2F5;
    }

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid #EFF2F5;
    }

    &__savings {
        padding: 16px;
        text-align: center;
        border-right: 1px solid #EFF2F5;
    }

    &__endless {
        padding: 16px;
        background: $bg-base;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.savings__partners {
    @include flexbox(row, center, flex-start);
    column-gap: 20px;
    margin: 0 auto;

    &_mt-16 {
        margin-top: 16px;
    }
}

@media (max-width: 992px) {
    .modal-matrix-partner {
        width: 100%;
        border-radius: 16px 16px 0 0;

        &__container {
            display: flex;
            flex-direction: column;
            height: auto;
            overflow-y: auto;

            & .copy-link {
                border-top: 1px solid #EFF2F5;
            }
        }

        &__overflow {
            max-height: calc(90vh - 89px);
            overflow-x: auto;
        }

        &__savings {
            padding: 8px 16px;
        }

        &__endless {
            padding: 8px 16px;
        }
    }
}

@media (max-width: 700px) {
    .modal-matrix-partner {

        &__block {
            grid-template-columns: 1fr;
        }

        &__savings {
            border-bottom: 1px solid #EFF2F5;
            padding: 8px 16px;
        }

        &__endless {
            padding: 8px 16px;
        }
    }
}