@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.savings {
  padding: 13px;
  background: $bg-base;
  text-align: center;

  &__partners {
    @include flexbox(row, center, flex-start);
    column-gap: 40px;
    margin: 0 auto;

    &_mt-16 {
      margin-top: 16px;
    }
  }
}

@media (max-width: 992px) {
  .savings {
    padding: 8px 16px;

    &__partners {
      column-gap: 24px;

      &_mt-16 {
        margin-top: 8px;
      }
    }
  }
}