@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.endless {
  padding: 13px;
  background: $bg-base;
  text-align: center;

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  &__menu {
    @include flexbox(row, center, flex-start);
    column-gap: 40px;
    margin: 0 auto;

    &_mt-16 {
      margin-top: 16px;
    }
  }
}

@media (max-width: 992px) {
  .endless {
    padding: 8px 16px;

    &__menu {
      column-gap: 24px;

      &_mt-16 {
        margin-top: 8px;
      }
    }
  }
}