@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.modal-partner-waiting {
  @include flexbox(column);
  max-height: 80vh;
  border-radius: 16px;
  background: $bg-base;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    justify-items: center;
    gap: 40px;
    padding: 16px;
    width: 100%;
    height: 468px;
    overflow-y: auto;

    &.less-four {
      @include flexbox(row, center, flex-start);
    }
  }

  &__block {
    width: 144px;
    border-radius: 16px;
    height: fit-content;
    cursor: pointer;

    &.active {
      border: 1px solid $border-violet;
    }
  }

  &__buttons {
    width: 100%;
    height: 77px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 992px) {
  .modal-partner-waiting {
    width: 100%;
    border-radius: 16px 16px 0 0;

    &__container {
      gap: 24px;
      padding: 0 16px 16px;
      height: calc(80vh - 125px);
    }
  }
}

@media (max-width: 510px) {
  .modal-partner-waiting {
    &__container {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
    }
  }
}