.chain-cell {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__avatar {
    position: relative;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    cursor: pointer;

    & > img {
      border-radius: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__level {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    & svg {
      width: 16px;
      height: 16px;
      transform: rotate(180deg);
    }

    & span:first-child {
      color: #7B879D;
    }

    & span:last-child {
      color: #576175;
    }
  }

  &__cost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #29A352;
    font-size: 18px;
    font-weight: 500;
    line-height: 155%;

    & svg {
      width: 20px;
      height: auto;
    }
  }

  &.teleport .chain-cell__avatar {
    border: 2px solid #F19C18;

    & img {
      border: 2px solid #fff;
    }
  }
}
