@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox($dir: row, $justify: flex-start, $align: flex-start, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin get-font($font-size, $font-weight, $line-height: 16px, $color: inherit) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}