// BACKGROUNDS
$bg-base: #FFFFFF;
$bg-base-bright: #E0E5EB;
$bg-base-secondary: #F5F7F8;
$bg-base-dark-secondary: #262940;
$bg-base-deep: #565A76;
$bg-base-light: #EFF2F5;
$bg-primary-default: #B043FF;
$bg-violet: #A33FBC;
$bg-violet-light: #F5EDF7;
$bg-blue: #53A7F0;
$bg-blue-dark: #1A86E5;
$bg-blue-light: #E8F3FC;
$bg-orange: #F19C18;
$bg-orange-light: #FEF5E7;
$bg-green: #5CD685;
$bg-green-light: #EBFAF0;
$bg-red-light: #FFF1F0;
$bg-transparency-black: rgba(0, 0, 0, .40);

// TEXTS
$text-base: #0B0C0E;
$text-base-secondary: #576175;
$text-base-light: #7B879D;
$text-base-disable: #C4CAD4;
$text-base-on-color: #FFFFFF;
$text-primary-default: #B043FF;
$text-violet: #A33FBC;
$text-link: #1A86E5;
$text-green: #29A352;
$text-red: #FF3A30;

// BORDERS
$border-base: #FFFFFF;
$border-base-secondary: #F5F7F8;
$border-base-light: #EFF2F5;
$border-base-bright: #E0E5EB;
$border-base-contrast: #BFCCD9;
$border-base-dark: #0B0C0E;
$border-blue: #53A7F0;
$border-green: #5CD685;
$border-orange: #F19C18;
$border-violet: #B043FF;
$border-red: #FF3A30;