///////////////////////////////BACKGROUNDS
$bg-base: #FFFFFF;
$bg-base-secondary: #F5F7F8;
$bg-base-dark-secondary: #262940;
$bg-base-deep: #565A76;
$bg-base-light: #EFF2F5;
$bg-violet: #A33FBC;
$bg-violet-light: #F5EDF7;
$bg-blue: #53A7F0;
$bg-blue-light: #E8F3FC;
$bg-orange: #F19C18;
$bg-green: #5CD685;
$bg-transparency-black: rgba(0, 0, 0, .40);

///////////////////////////////TEXT
$text-base: #0B0C0E;
$text-base-secondary: #576175;
$text-base-light: #7B879D;
$text-base-disable: #C4CAD4;
$text-base-on-color: #FFFFFF;
$text-primary-default: #B043FF;
$text-link: #1A86E5;
$text-green: #29A352;

///////////////////////////////BORDERS
$border-base: #FFFFFF;
$border-blue: #53A7F0;
$border-base-dark: #0B0C0E;
$border-base-contrast: #BFCCD9;

///////////////////////////////