@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.add-partner-cell {
  @include flexbox(column, center, center);
  row-gap: 8px;
  width: 192px;
  padding: 16px;
  position: relative;

  &__plus {
    @include flex-center;
    padding: 4px;
    width: 160px;
    height: 160px;
    border-radius: 28px;
    cursor: pointer;
    position: relative;

    &.cumulative,
    &.boost {
      background: $bg-blue-light;

      & path {
        fill: $bg-blue-dark;
      }
    }

    &.disable {
      background: $bg-base-light;
      cursor: auto;

      & > svg {
        transform: rotate(45deg);
      }

      & path {
        fill: $text-base-light;
      }
    }

    &.loading {
      background: $bg-base-light;

      & .reward {
        display: none;
      }
    }

    &.profitable {
      background: $bg-green-light;

      & path {
        fill: $bg-green;
      }
    }

    &.infinity {
      background: $bg-orange-light;

      & path {
        fill: $bg-orange;
      }

      & .reward {
        display: none;
      }
    }

    &__loader {
      display: inline-block;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__title {
    @include get-font(14px, 500, 130%, $text-base);
    text-align: center;

    &_mt-8 {
      margin-top: 8px;
    }
  }

  &__subtitle {
    @include flex-center;
    column-gap: 4px;
    @include get-font(12px, 500, 16px, $text-base-light);
    text-align: center;
  }

  &.disable .add-partner-cell__title {
    color: $text-base-secondary;
  }

  &.loading {
    .cell-type {
      display: none;
    }
  }

  &.small {
    padding: 16px 14px;
    width: 144px;

    .partner-cell__avatar {
      border-radius: 16px;

      & > img {
        border-radius: 14px;
      }
    }
  }

  &.small .add-partner-cell__plus {
    width: 112.8px;
    height: 112.8px;
    border-radius: 16px;

    & > svg {
      width: 40px;
      height: auto;
    }
  }

  &.small {
    .add-partner-cell {
      &__title {
        font-size: 12px;
      }

      &__subtitle {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .add-partner-cell {
    width: 144px;
    padding: 12px;

    &__plus {
      width: 120px;
      height: 120px;
      border-radius: 16px;

      & > svg {
        width: 40px;
        height: auto;
      }

      &__loader {
        width: 32px;
        height: 32px;
      }
    }

    &__title {
      @include get-font(12px, 500, 130%, $text-base);
    }
  }
}