@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.d-button {
  display: block;
  padding: 8px 16px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid $border-base-dark;
  transition: .25s all ease;
  cursor: pointer;

  &__name {
    @include get-font(22px, 700, 36px, $text-base-secondary);
    text-align: center;
  }

  &__price {
    @include flex-center;
    column-gap: 4px;
    @include get-font(12px, 500, 16px, $text-base-light);

    & path {
      fill: $text-base-light;
    }
  }

  &__time {
    @include get-font(12px, 500, 16px, $text-base-light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &.active {
    background: $bg-base-dark-secondary;

    & .d-button__name {
      color: $text-base-on-color;
    }
  }

  &.disabled {
    border: 1px solid $border-base-contrast;
    cursor: not-allowed;

    & .d-button {
      &__name,
      &__price {
        color: $text-base-disable;
      }

      &__price path {
        fill: $text-base-disable;
      }
    }
  }

  &.time {
    border: 1px solid #FF3A30;
    animation: time 2s linear infinite;
  }
}

@keyframes time {
  50% {
    background: #fff;
  }
  51% {
    background: #FFF1F0;
  }
  100% {
    background: #FFF1F0;
  }
}

@media (max-width: 992px) {
  .d-button {
    padding: 8px 8px;
    border-radius: 12px;

    &__name {
      @include get-font(16px, 700, 150%, $text-base-secondary);
    }

    &__price {
      column-gap: 2px;
      @include get-font(10px, 500, 120%, $text-base-light);

      & > svg {
        width: 12px;
        height: auto;
      }
    }

    &__time {
      @include get-font(10px, 500, 120%, $text-base-light);
      gap: 2px;

      & > svg {
        width: 12px;
        height: auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .d-button {
    min-width: 56px;
  }
}