@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.modal-add-partner {
  @include flexbox(column);
  gap: 16px;
  border-radius: 16px;
  background: $bg-base;

  &__container {
    @include flexbox(row, center, flex-start);
    gap: 40px;
    padding: 38px 16px 62px;
  }
}

@media (max-width: 992px) {
  .modal-add-partner {
    width: 100%;
    border-radius: 16px 16px 0 0;

    &__container {
      gap: 24px;
      padding: 0 16px 16px;
    }
  }
}