@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.boosters-cells {
  padding: 16px;
  width: 100%;
  background: $bg-base;

  &__header {
    @include flexbox(row, flex-start, center);
    column-gap: 16px;
  }

  &__container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px 56px;
  }
}