@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.buy-boost-cell {
  @include flexbox(column, center, center);
  row-gap: 8px;
  width: 192px;
  padding: 16px;
  position: relative;

  &__plus {
    @include flex-center;
    padding: 4px;
    width: 160px;
    height: 160px;
    border-radius: 28px;
    cursor: pointer;
    position: relative;
    background: $bg-violet-light;

    & > svg {
      width: 65px;
      height: auto;

      & > path {
        fill: $text-violet;
      }
    }
  }

  &__title {
    margin-top: 8px;
    @include get-font(14px, 500, 130%, $text-base);

    & > span {
      color: $text-violet;
    }
  }

  &__ton {
    @include flex-center;
    gap: 4px;
    @include get-font (12px, 500, 130%, $text-base-light);

    & > svg {
      width: 17px;
      height: auto;
    }
  }
}

@media (max-width: 992px) {
  .buy-boost-cell {
    padding: 12px;
    width: 144px;

    &__plus {
      width: 120px;
      height: 120px;
      border-radius: 16px;

      & > svg {
        width: 40px;
      }
    }

    &__title {
      @include get-font (12px, 500, 130%);
      color: $text-base;
    }
  }
}