@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.indicator {
  @include flex-center;
  column-gap: 7px;
  grid-area: down;
  width: 100%;
  background: $bg-base;
  @include get-font(18px, 700, 28px, $text-base-light);
  cursor: pointer;
  position: relative;

  &.second,
  &.third {
    color: $text-base-on-color;
  }

  & > span {
    position: relative;
  }

  &:before {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 0 0 0 16px;
    background: $bg-green;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &.first:before {
    width: calc(33%);
  }

  &.second:before {
    width: calc(66% + 6px);
  }

  &.third:before {
    width: 100%;
    border-radius: 0 0 16px 16px;
  }
}