@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.not-activated-matrix {
  @include flexbox(column, center, center);
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: 356px;
  background: $bg-base;
  border-radius: 0 0 16px 16px;

  &__icon {
    @include flex-center;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background: $bg-base-secondary;
  }

  &__text {
    @include flexbox(column, flex-start, center);
    gap: 8px;
    @include get-font(14px, 500, 142%, $text-base-secondary);
    text-align: center;

    & > h3 {
      @include get-font(20px, 500, 160%, $text-base);
    }
  }
}

.text__column {
  @include flexbox(column, flex-start, center);

  & span {
    color: $text-violet;
  }
}

@media screen and (max-width: 992px) {
  .not-activated-matrix {
    height: 289px;
  }
}

@media screen and (max-width: 756px) {
  .not-activated-matrix {
    height: 560px;
  }
}