@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.matrix-modal-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  height: 64px;
  width: 100%;

  &__back {
    @include flexbox(row, flex-start, center);
    gap: 8px;
    @include get-font(14px, 500, 142%, $text-link);

    & > svg {
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    white-space: nowrap;
    @include get-font(20px, 700, 160%);
    text-align: center;
  }

  &__close {
    align-self: start;
    justify-self: end;
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 992px) {
  .matrix-modal-header {
    padding: 16px 16px 8px;
    height: 48px;

    &__title {
      font-size: 16px;
    }

    &__close {
      width: 24px;
      height: 24px;

      & > svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}