.modal-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  height: 64px;

  &__back {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1A86E5;
    font-size: 14px;
    font-weight: 500;
    line-height: 142%;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
  }

  &__close {
    width: 16px;
    height: 16px;
    align-self: start;
    justify-self: end;
  }
}