@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.infinity-partner-card {
  @include flexbox(column);
  row-gap: 4px;
  padding: 16px;

  &__partners,
  &__awards {
    width: 160px;
    height: 50%;
    border: 1px solid $border-base-bright;
    border-radius: 16px;
  }

  &.m-matrix-partner {
    height: 100%;
    width: 160px;
  }

  &.m-matrix-partner .infinity-partner-card__partners {
    padding: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
  }

  &__partners {
    padding: 18px 12px;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-count {
      @include get-font(28px, 700, 44px, $text-base-secondary);
    }

    &-title {
      @include get-font(14px, 500, 24px, $text-base-secondary);
    }

    &-svg {
      display: none;
    }

    &-link {
      @include get-font(12px, 500, 16px, $text-link);
      cursor: pointer;
    }
  }

  &__awards {
    padding: 8px 16px 16px;

    &-title {
      @include get-font(10px, 500, 12px, $text-base-secondary);
    }

    &-bonuses {
      @include flexbox(row, center, center, wrap);
      gap: 4px;

      &_mt-8 {
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: 992px) {
  .infinity-partner-card {
    @include flexbox(column);
    padding: 12px;

    &__partners,
    &__awards {
      width: 120px;
    }

    &.m-matrix-partner {
      width: 144px;
    }

    &.m-matrix-partner .infinity-partner-card__partners {
      padding: 12px;
      margin-top: 16px;
    }

    &__partners {
      padding: 12px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }

      &-count {
        @include get-font(18px, 700, 155%, $text-base-secondary);
      }

      &-title {
        display: none;
      }

      &-svg {
        display: block;
        width: 16px;
        height: auto;
      }
    }

    &__awards {
      padding: 8px 8px 12px;

      &-bonuses {
        @include flexbox(column, center, center, wrap);
        gap: 4px;

        & .bonus-item {
          width: 100%;
        }

          &_mt-8 {
          margin-top: 4px;
        }
      }
    }
  }
}