@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.input-search {
  position: relative;

  & > input {
    padding: 8px;
    width: 200px;
    border-radius: 8px;
    background: $bg-base-light;
    @include get-font(14px, 500, 20px, $text-base);

    &::placeholder {
      @include get-font(14px, 500, 20px, $text-base-light);
    }
  }

  & > svg {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    cursor: pointer;
  }

  &__mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .input-search,
  .input-search > input {
    width: 100%;

    &__desktop {
      display: none;
    }

    &__mobile {
      display: block;
    }
  }
}