@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.modal-teleport {
  @include flexbox(column, flex-start, center);
  gap: 16px;
  padding: 8px;
  width: 480px;
  background: $bg-base;
  border-radius: 16px;

  &__head {
    @include flexbox(column);
    gap: 4px;
    padding: 16px;
  }

  & > button {
    margin-bottom: 16px;
  }


  &__text {
    @include get-font(14px, 500, 140%);
    color: $text-base-secondary;
    text-align: center;
  }

  &__btn {
    @include flex-center;
    gap: 8px;
    @include get-font(14px, 500, 140%, $text-link);
  }

  &__block {
    width: 144px;
  }
}


.rotate-img {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .modal-teleport {
    gap: 12px;
    padding: 0 8px 8px;
    width: 100%;
    border-radius: 16px 16px 0 0;

    &__head {
      padding: 12px;
    }
  }
}