@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.modal {
  @include flex-center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &__overlay {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: $bg-transparency-black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 140;
  }

  &__content {
    @include flex-center;
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 150;
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.5s ease;
  backdrop-filter: blur(8px);
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  backdrop-filter: blur(0px);
}

.modal-payment-form {
  background: #FFF;
  border-radius: 16px;
  width: 720px;
  height: fit-content;
  padding: 16px;
  position: relative;
  z-index: 150;
}