@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.copy-link {
  @include flex-center;
  column-gap: 4px;
  padding: 16px;
  width: 100%;
  border-radius: 0 0 16px 16px;
  background: $bg-base;
}

@media (max-width: 992px) {
  .copy-link {
    padding: 12px;
    border-radius: 0;
  }
}