@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.home {
  padding: 24px 0;
  background: #f5f7f8; //временный бг, при релизе удалить
  overflow-x: hidden;

  &__content {
    @include flexbox(column);
    row-gap: 24px;
  }

  &__matrices {
    @include flexbox(column);
    gap: 4px;
    width: 100%;

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4px;
      width: 100%;
      height: 356px;
    }
  }

  &__info {
    @include flexbox(column);
    width: 100%;
  }

  &__preloader {
    @include flex-center;
    width: 100%;
    height: 356px;
    background: $bg-base;
  }
}

@media (max-width: 992px) {
  .home {
    padding: 0;

    &__content {
      @include flexbox(column);
      row-gap: 16px;
    }

    &__matrices-inner,
    &__preloader {
      height: 289px;
    }
  }
}

@media (max-width: 756px) {
  .home {
    &__matrices-inner {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
      height: 560px;
    }

    &__preloader {
      height: 289px;
    }
  }
}