@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.home {
  padding: 24px 0;
  overflow-x: hidden;

  &__content {
    @include flexbox(column);
    row-gap: 24px;
  }

  &__matrices {
    @include flexbox(column);
    gap: 4px;
    width: 100%;

    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4px;
      width: 100%;
    }
  }

  &__info {
    @include flexbox(column);
    width: 100%;
  }

  &__preloader {
    @include flex-center;
    height: 348px;
    background: $bg-base;
  }
}

@media (max-width: 992px) {
  .home {
    padding: 0;

    &__content {
      @include flexbox(column);
      row-gap: 16px;
    }
  }
}

@media (max-width: 756px) {
  .home {
    &__matrices__inner {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }
}