@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.modal-infinity-cell {
  width: 720px;
  background: $bg-base;
  border-radius: 16px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-template-rows: max-content;
    gap: 8px 24px;
    padding: 16px;
    height: 575px;
    overflow-y: auto;
  }

  & .preloader {
    padding-bottom: 16px;
  }
}

@media (max-width: 992px) {
  .modal-infinity-cell {
    width: 100%;
    border-radius: 16px 16px 0 0;

    &__container {
      height: calc(80vh - 48px);
      display: grid;
      justify-items: center;
    }
  }
}