@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.count-of-partners {
  @include flexbox(column, center, center);
  gap: 4px;
  padding: 18px 12px;
  height: 120px;
  transition: .25s all ease;
  cursor: pointer;
  width: 100%;
  border: 1px solid $border-base-bright;
  border-radius: 16px;

  &__info {
    @include flexbox(column, flex-start, center);
  }

  &__count {
    @include get-font(28px, 700, 44px, $text-base-secondary);
  }

  &__title {
    @include get-font(14px, 500, 24px, $text-base-secondary);
  }

  &__svg {
    display: none;
  }

  &__link {
    @include get-font(12px, 500, 16px, $text-link);
  }

  &:hover {
    background: $bg-base-secondary;
  }

  &.modal-block {
    @include flexbox(column, center, center);
    padding: 16px 12px;
    width: 120px;
    height: 92px;

    & .count-of-partners {
      border-radius: 16px;

      &__info {
        & > div:first-child {
          @include flexbox(row, center, center);
          column-gap: 9px;
        }
      }

      &__svg {
        display: block;
        width: 14px;
        height: 14px;
      }

      &__count {
        font-size: 18px;
        line-height: 28px;
      }

      &__title {
        font-size: 12px;
        line-height: 16px;
      }

      &__link {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
  .count-of-partners {
    @include flexbox(column, center, center);
    padding: 12px 8px;
    height: 92px;

    &__info {
      & > div {
        &:first-child {
          @include flexbox(row, space-between, center);
          gap: 8px;
          height: 28px;

          & > div {
            line-height: 1;
          }
        }
      }
    }

    &__title {
      font-size: 12px;
      line-height: 16px;
    }

    &__link {
      font-size: 10px;
    }

    &__count {
      @include get-font(18px, 700, 155%, $text-base-secondary);
    }

    &__svg {
      display: block;
      width: 16px;
      height: auto;
    }
  }
}

@media (max-width: 757px) {
  .count-of-partners {
    gap: 0;
    height: 64px;

    &__title {
      display: none;
    }
  }
}