@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tabs {
  @include flexbox(row, flex-start, center);


  &.big,
  &.expose-modal {
    column-gap: 8px;
    padding: 4px;
    border-radius: 16px;
    background: $bg-base-secondary;
  }



  &.little {
    column-gap: 16px;
  }
}