@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.small-cell {
  @include flexbox(column);
  gap: 12px;
  padding: 12px;
  position: relative;

  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    position: relative;

    & > img {
      border-radius: 16px;
      width: 100%;
      object-fit: cover;
    }

    &.chains-boost {
      border: 2px solid $border-violet;

      & > img {
        border: 2px solid $border-base;
      }
    }

    &.teleport {
      border: 2px solid $border-orange;

      & > img {
        border: 2px solid $border-base;
      }
    }
  }

  &__info {
    @include flexbox(column, center, center);
    gap: 8px;
    width: 100%;
  }

  &__name {
    @include get-font(12px, 500, 130%, $text-base);
    text-align: center;
  }

  &__id {
    @include flex-center;
    gap: 4px;
    @include get-font(12px, 500, 130%, $text-base-light);
  }

  &.boost .partner-type, {
    display: none;
  }

  &.chains-partner .partner-type,
  &.chains-partner .cell-type {
    display: none;
  }

  &.teleport .partner-type {
    display: none;
  }
}



